{# {% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %} #}


<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
		<meta name="author" content="Creative Tim">
		<title>Login</title>
		<!-- Favicon -->
		<link
		rel="icon" href="{{ asset('assets/img/brand/favicon.png') }}" type="image/png">
		<!-- Fonts -->
		<link
		rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
		<!-- Icons -->
		<link rel="stylesheet" href="{{ asset('assets/vendor/nucleo/css/nucleo.css') }}" type="text/css">
		<link
		rel="stylesheet" href="{{ asset('assets/vendor/@fortawesome/fontawesome-free/css/all.min.css') }}" type="text/css">
		<!-- Argon CSS -->
		<link rel="stylesheet" href="{{ asset('assets/css/argon.css?v=1.2.0') }}" type="text/css">
	</head>

	<body
		class="bg-default">
		<!-- Main content -->
		<div
			class="main-content">
			<!-- Header -->
			<div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
				<div class="container">
					<div class="header-body text-center mb-7">
						<div class="row justify-content-center">
							<div class="col-xl-5 col-lg-6 col-md-8 px-5">
								<h1 class="text-white">Bienvenue !</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="separator separator-bottom separator-skew zindex-100">
					<svg x="0" y="0" viewbox="0 0 2560 100" preserveaspectratio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
						<polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
					</svg>
				</div>
			</div>
			<!-- Page content -->
			<div class="container mt--8 pb-5">
				<div class="row justify-content-center">
					<div class="col-lg-5 col-md-7">
						<div class="card bg-secondary border-0 mb-0">
							<div class="card-body px-lg-5 py-lg-5">
								<div class="text-center text-muted mb-4">
									<small>Authentification</small>
								</div>
								<form role="form" method="post">
                                {% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}

								{% if app.user %}
									<div class="mb-3">
										Connecté en tant que
										{{ app.user.username }},<br>
										<a href="{{ path('deconnexion') }}">Déconnecter</a>
									</div>
								{% endif %}
									<div class="form-group mb-3">
										<div class="input-group input-group-merge input-group-alternative">
											<div class="input-group-prepend">
												<span class="input-group-text">
													<i class="ni ni-email-83"></i>
												</span>
											</div>
											{# <input class="form-control" placeholder="Email" type="email" autocomplete="email"> #}
											<input type="email" value="{{ last_username }}" name="email" class="form-control" autocomplete="email" required autofocus>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group input-group-merge input-group-alternative">
											<div class="input-group-prepend">
												<span class="input-group-text">
													<i class="ni ni-lock-circle-open"></i>
												</span>
											</div>
											{# <input class="form-control" placeholder="Mot de passe" type="password"> #}
											<input type="password" name="password" class="form-control" autocomplete="current-password" required>
										</div>
									</div>
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
									<div class="custom-control custom-control-alternative custom-checkbox">
										<input class="custom-control-input" id=" customCheckLogin" type="checkbox">
										<label class="custom-control-label" for=" customCheckLogin">
											<span class="text-muted">Se souvenir de moi</span>
										</label>
									</div>
									<div
										class="text-center">
										{# <button type="button" class="btn btn-primary my-4">Login</button> #}
										<button class="btn btn-primary my-4" type="submit">
											Login
										</button>
									</div>
								</form>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-6">
								<a href="#" class="text-light">
									<small>Mot de passe oublié?</small>
								</a>
							</div>
							{# <div class="col-6 text-right">
																													<a href="#" class="text-light">
																														<small>Créer compte</small>
																													</a>
																												</div> #}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Argon Scripts -->
		<!-- Core -->
		<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('assets/vendor/js-cookie/js.cookie.js') }}"></script>
		<script src="{{ asset('assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js') }}"></script>
		<script src="{{ asset('assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js') }}"></script>
		<!-- Argon JS -->
		<script src="{{ asset('assets/js/argon.js?v=1.2.0') }}"></script>
	</body>

</html>
