<form method="post" action="{{ path('groupe_delete', {'id': groupe.id}) }}" onsubmit="return confirm('Etes-vous sur de supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ groupe.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
