{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}
	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<!-- Header -->
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-6 col-5 text-right">
							<a href="{{ path('user_new') }}" class="btn btn-sm btn-neutral">Ajout nouveau</a>
						</div>
					</div>
					<div class="row align-items-center py-4">
					<div class="col-lg-9 col-8"></div>
					<div class="col-lg-3 col-4 text-right">
						{% for message in app.flashes('msg') %}
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>{{message}}</strong>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					</div>
				</div>
				</div>
			</div>
		</div>
		<!-- Page content -->
		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col">
					<div
						class="card">
						<!-- Card header -->
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-7">
									<h3 class="mb-0">Liste des utilisateurs
									</h3>
								</div>
								<div class="col-5 text-right">
									<form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
										<div class="form-group mb-0">
											<div class="input-group input-group-alternative input-group-merge">
												<div class="input-group-prepend">
													<span class="input-group-text">
														<i class="fas fa-search"></i>
													</span>
												</div>
												<input class="form-control" placeholder="Recherche" type="text">
											</div>
										</div>
										<button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
									</form>
								</div>
							</div>
						</div>
						<!-- Light table -->
						<div class="table-responsive">
							<table class="table align-items-center table-flush">
								<thead class="thead-light">
									<tr>
										<th scope="col">Nom de l'utilisateur</th>
										<th scope="col">Email</th>
										<th scope="col">Rôle</th>
										<th scope="col">Mot de passe</th>
										<th scope="col" class="text-right">Actions</th>
									</tr>
								</thead>
								<tbody class="list">
									{% for listeU in listeUser %}
										<tr>
											<th scope="row">
												<div class="media align-items-center">
													<div class="media-body">
														<span class="name mb-0 text-sm">{{listeU.username}}</span>
													</div>
												</div>
											</th>
											<td>
												{{listeU.email}}
											</td>
											<td>
                                                {% for role in listeU.roles %}
                                                        {% if role == 'ROLE_ADMIN' %}
                                                            Administrateur 
                                                        {% elseif role == 'ROLE_FORMATEUR' %}
                                                            Formateur
														{% elseif role == 'ROLE_APPRENANT' %}
                                                            Apprenant
														{% elseif role == 'ROLE_UTILISATEUR' %}
                                                            Utilisateur
														{% elseif role == 'ROLE_VISITEUR' %}
                                                            Visiteur
                                                        {% endif %}
                                                {% endfor %}
											</td>
											<td>
												********
											</td>
                                            {% if is_granted('ROLE_ADMIN') %}
											<td class="text-right">
												<div class="dropdown">
													<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="fas fa-ellipsis-v"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
														<a class="dropdown-item" href="#">Détail</a>
														<a class="dropdown-item" href="{{path('user_edit', {id : listeU.id})}}">Modifier</a>
														<a class="dropdown-item" href="{{path('user_delete', {id : listeU.id})}}">Supprimer</a>
													</div>
												</div>
											</td>
                                            {% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- Card footer -->
				<div class="card-footer py-4">
					<nav aria-label="...">
						<ul class="pagination justify-content-end mb-0">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1">
									<i class="fas fa-angle-left"></i>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item active">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">2
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">3</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">
									<i class="fas fa-angle-right"></i>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	{{include ("include/footer.html.twig")}}

{% endblock %}
