<form method="post" action="{{ path('reinscription_delete', {'id': reinscription.id}) }}" onsubmit="return confirm('Etes-vous sur de supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reinscription.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
