        <footer class="footer pt-0">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-12">
                <div class="copyright text-center  text-lg-right  text-muted">
                    &copy; {{ "now"|date("Y") }} <a href="" class="font-weight-bold ml-1" target="_blank">Gestion des apprenants</a>
                </div>
                </div>
            </div>
        </footer>

    </div>
</div>