<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">

	<div class="scrollbar-inner">
		<div class="sidenav-header  align-items-center">
			<a class="navbar-brand" href="javascript:void(0)">
				<img src="{{ asset('assets/img/brand/logo3.png') }}" class="navbar-brand-img" alt="...">
			</a>
		</div>
		<div class="navbar-inner">
			<div class="collapse navbar-collapse" id="sidenav-collapse-main">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link  {{active is defined and active == " accueil" ? " active" : " "}}" href="{{ path ('accueil') }}">
							<i class="ni ni-tv-2 text-info"></i>
							<span class="nav-link-text">Accueil</span>
						</a>
					</li>
					{% if roleApprenant is defined and roleApprenant is not null %}
						{% for role in app.user.roles %}
							{% if role ==  roleApprenant %}
								{% for menuApp in menuApprenant %}
									{% if menuApp.libelle == 'Inscription' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="{{ path ('inscription_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Apprenant' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant " ? " active" : " "}}" href="{{ path ('inscription_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Reinscription' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="{{ path ('reinscription_index') }}">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Assuidite' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="{{ path ('assiduite_index') }}">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Groupe' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="{{ path ('groupe_index') }}">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Evaluation' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}} " href=" {{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link  {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Matiere' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="{{ path ('matiere_index') }}">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Motivation' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Formateur' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="{{ path ('formateur_index') }}">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Note' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="{{ path ('note_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% endif %}
								{% endfor %}
							{% elseif role ==  roleAdmin %}
								{% for menuApp in menuAdmin %}
									{% if menuApp.libelle == 'Inscription' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="{{ path ('inscription_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Apprenant' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="{{ path ('apprenant_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Reinscription' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="{{ path ('reinscription_index') }}">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Assuidite' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="{{ path ('assiduite_index') }}">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Groupe' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="{{ path ('groupe_index') }}">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Evaluation' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Matiere' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="{{ path ('matiere_index') }}">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Motivation' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Formateur' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="{{ path ('formateur_index') }}">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Note' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="{{ path ('note_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% endif %}
								{% endfor %}
							{% elseif role ==  roleFormateur %}
								{% for menuApp in menuFormateur %}
									{% if menuApp.libelle == 'Inscription' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="{{ path ('inscription_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Apprenant' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="{{ path ('apprenant_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Reinscription' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="{{ path ('reinscription_index') }}">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Assuidite' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="{{ path ('assiduite_index') }}">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Groupe' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="{{ path ('groupe_index') }}">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Evaluation' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Matiere' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="{{ path ('matiere_index') }}">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Motivation' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Formateur' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="{{ path ('formateur_index') }}">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Note' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="{{ path ('note_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% endif %}
								{% endfor %}
							{% elseif role ==  roleVisiteur %}
								{% for menuApp in menuVisiteur %}
									{% if menuApp.libelle == 'Inscription' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="{{ path ('inscription_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Apprenant' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="{{ path ('apprenant_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Reinscription' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="{{ path ('reinscription_index') }}">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Assuidite' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="{{ path ('assiduite_index') }}">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Groupe' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="{{ path ('groupe_index') }}">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Evaluation' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Matiere' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="{{ path ('matiere_index') }}">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Motivation' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Formateur' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="{{ path ('formateur_index') }}">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Note' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="{{ path ('note_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% endif %}
								{% endfor %}
							{% elseif role ==  roleUtilisateur %}
								{% for menuApp in menuUser %}
									{% if menuApp.libelle == 'Inscription' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="{{ path ('inscription_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " inscription" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Inscription</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Apprenant' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="{{ path ('apprenant_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " apprenant" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Apprenant</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Reinscription' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="{{ path ('reinscription_index') }}">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " reinscription" ? " active" : " "}}" href="">
														<i class="ni ni-folder-17 text-info"></i>
														<span class="nav-link-text">Réinscription</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Assuidite' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="{{ path ('assiduite_index') }}">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " assiduite" ? " active" : " "}}" href="">
														<i class="ni ni-calendar-grid-58 text-info"></i>
														<span class="nav-link-text">Assiduité</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Groupe' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="{{ path ('groupe_index') }}">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " groupe" ? " active" : " "}}" href="">
														<i class="ni ni-shop text-info"></i>
														<span class="nav-link-text">Groupe</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Evaluation' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " evaluation" ? " active" : " "}}" href="{{ path ('evaluation_index') }}">
														<i class="ni ni-ruler-pencil text-info"></i>
														<span class="nav-link-text">Evaluation</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Matiere' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="{{ path ('matiere_index') }}">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " matiere" ? " active" : " "}}" href="">
														<i class="ni ni-book-bookmark text-info"></i>
														<span class="nav-link-text">Matière</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Motivation' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{# {{ path ('motivation_index') }} #}">
														<i class="ni ni-collection text-info"></i>
														<span class="nav-link-text">Motivation</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Formateur' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="{{ path ('formateur_index') }}">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " formateur" ? " active" : " "}}" href="">
														<i class="ni ni-single-02 text-info"></i>
														<span class="nav-link-text">Formateur</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% elseif menuApp.libelle == 'Note' %}
										{% if menuApp.affichage == 'Affiché' %}
											{% if menuApp.activation ==  'Activé' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="{{ path ('note_index') }}">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Bloqué' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% elseif  menuApp.activation ==  'Aucun' %}
												<li class="nav-item">
													<a class="nav-link {{active is defined and active == " note" ? " active" : " "}}" href="">
														<i class="ni ni-single-copy-04 text-info"></i>
														<span class="nav-link-text">Note</span>
													</a>
												</li>
											{% endif %}
											{% elseif menuApp.affichage == 'Caché' %}
										{% endif %}
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endif %}


					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link {{active is defined and active == " user" ? " active" : " "}}" href="{{ path ('user_list') }}">
								<i class="ni ni-single-02 text-info"></i>
								<span class="nav-link-text">User</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {# {{active is defined and active == " motivation" ? " active" : " "}} #}" href="{{ path ('liste_a_parametrer') }}">
								<i class="ni ni-collection text-info"></i>
								<span class="nav-link-text">Parametrage user</span>
							</a>
						</li>
					{% endif %}
				</ul>
				<hr class="my-3">
				<h6 class="navbar-heading p-0 text-muted">
					<span class="docs-normal">Quitter l'appli</span>
				</h6>
				<ul class="navbar-nav mb-md-3">
					<li class="nav-item">
						<a class="nav-link" href="{{ path ('deconnexion') }}">
							<i class="ni ni-user-run"></i>
							<span class="nav-link-text">Déconnexion</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</nav>

