<form method="post" action="{{ path('apprenant_delete', {'id': apprenant.id}) }}" onsubmit="return confirm('Etes-vous sur de supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apprenant.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
