{% extends 'base.html.twig' %}

{% block title %}Liste des apprenants
{% endblock %}
{% set active = 'apprenant'%}

{% block body %}

	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-6 col-5 text-right">
							<a href="{{ path('apprenant_new') }}" class="btn btn-sm btn-neutral">Ajout nouveau</a>
							{# <a href="#" class="btn btn-sm btn-neutral">Filtre</a> #}
						</div>
					</div>
					<div class="row align-items-center py-4">
						<div class="col-lg-9 col-8"></div>
						<div class="col-lg-3 col-4 text-right">
						{% for message in app.flashes('msg') %}
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>{{message}}</strong>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-7">
									<h3 class="mb-0">Liste des apprenants
									</h3>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table id="datatable-search">
								<thead>
									<tr>
										<th scope="col"><strong>Photo</strong></th>
										<th scope="col"><strong>Numero</strong></th>
										<th scope="col"><strong>Nom apprenant</strong></th>
										<th scope="col"><strong>Actions</strong></th>
									</tr>
								</thead>
								<tbody class="list">
									{% for apprenant in apprenants %}
										<tr>
											<td>
												<div class="avatar-group">
													<a href="#" class="avatar rounded-circle mr-3" data-toggle="tooltip" data-original-title="{{apprenant.nomApp}}">
														<img alt="Image placeholder" src="{{ asset('uploads/images/' ~apprenant.photo)}}">
													</a>
												</div>
											</td>
											<td>{{apprenant.numeroApp}}</td>
											<th scope="row">
												<div class="media align-items-center">
													<div class="media-body">
														<span class="name mb-0 text-sm">{{apprenant.nomApp}}</span>
													</div>
												</div>
											</th>

											<td>
												<div class="dropdown">
													<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="fas fa-ellipsis-v"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
														<a class="dropdown-item" href="{{ path('apprenant_show', {'id': apprenant.id}) }}">Détail</a>
														<a class="dropdown-item" href="{{ path('apprenant_edit', {'id': apprenant.id}) }}">Modifier</a>
													</div>
												</div>
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="4">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	{{include ("include/footer.html.twig")}}

{% endblock %}
