{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs à parametrer
{% endblock %}
{% block body %}

	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
								</ol>
							</nav>
						</div>
						{# <div class="col-lg-6 col-5 text-right">
																									<a href="{{ path('menu_admin_new') }}" class="btn btn-sm btn-neutral">Ajout nouveau</a>
																									<a href="#" class="btn btn-sm btn-neutral">Filtre</a>
																								</div> #}
					</div>
				</div>
				{# <div class="row align-items-center py-4">
																	<div class="col-lg-9 col-8"></div>
																	<div class="col-lg-3 col-4 text-right">
																		{% for message in app.flashes('msg') %}
																			<div class="alert alert-success alert-dismissible fade show" role="alert">
																				<strong>{{message}}</strong>
																				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
																					<span aria-hidden="true">&times;</span>
																				</button>
																			</div>
																		{% endfor %}
																	</div>
																</div> #}
			</div>
		</div>
		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-7">
									<h3 class="mb-0">Liste utilisateurs à parametrer
									</h3>
								</div>
							</div>
                            <a href="{{ path('listeAdmin') }}" class="btn btn-primary my-4">Administrateur</a>
                            <a href="{{ path('liste') }}" class="btn btn-primary my-4">Apprenant</a>
                            <a href="{{ path('listeFormateur') }}" class="btn btn-primary my-4">Formateur</a>
                            <a href="{{ path('listeUser') }}" class="btn btn-primary my-4">Utilisateur</a>
                            <a href="{{ path('listeVisiteur') }}" class="btn btn-primary my-4">Visiteur</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		{{include ("include/footer.html.twig")}}

	{% endblock %}
