{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}
{% block body %}
	<style>
		/* body {
            
            background-color: #5e72e4;
        } */
		.card {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			max-width: 400px;
			margin: -100px auto auto;
			text-align: center;
			left: 10%;
		}
		.title {
			color: grey;
			font-size: 18px;
		}
		h1 {
			margin-top: 50px;
		}
		img {
			margin-top: 10px;
		}
	</style>
	{{include ("include/menu.html.twig")}}
	<div class="header bg-primary pb-6">
		<div class="container-fluid">
			<div class="header-body">
				<div class="row align-items-center py-4">
					<div class="col-lg-6 col-7">
						<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
							<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
								<li class="breadcrumb-item">
									<a href="#">
										<i class="fas fa-home"></i>
									</a>
								</li>
								
							</ol>
						</nav>
					</div>
					<div class="col-lg-6 col-5 text-right">
					</div>
				</div>
				<div class="row align-items-center py-4">
					<div class="col-lg-9 col-8"></div>
					<div class="col-lg-3 col-4 text-right">
						{% for message in app.flashes('msg') %}
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>{{message}}</strong>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<center>
			<img src="{{ asset('assets/img/theme/team2.png') }}" alt="John" style="width:50%">
		</center>
		<h1>{{ app.user.username }}</h1>
		<p class="title">{{ app.user.email }}</p>
		<p>
			{% for role in app.user.roles %}
				{% if role == 'ROLE_ADMIN' %}
					Administrateur
				{% elseif role == 'ROLE_FORMATEUR' %}
					Formateur
				{% elseif role == 'ROLE_APPRENANT' %}
					Apprenant
				{% elseif role == 'ROLE_UTILISATEUR' %}
					Utilisateur
				{% elseif role == 'ROLE_VISITEUR' %}
					Visiteur
				{% endif %}
			{% endfor %}
		</p>
	</div>
	{{include ("include/footer.html.twig")}}

{% endblock %}
