{% extends 'base.html.twig' %}

{% block title %}Détail matière
{% endblock %}

{% block body %}

	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-6 col-5 text-right">
							<a href="{{ path('matiere_new') }}" class="btn btn-sm btn-neutral">Ajout nouveau</a>
							<a href="{{ path('matiere_index') }}" class="btn btn-sm btn-neutral">Retour à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col-xl order-xl-1">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0">Détail matière
									</h3>
								</div>
								<div class="col-4 text-right">
									{{ include('matiere/_delete_form.html.twig') }}
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="pl-lg-4">
								<table class="table">
									<tbody>
										<tr>
											<th>Semestre</th>
											<td>{{ matiere.semestre }}</td>
										</tr>
										<tr>
											<th>Groupe</th>
											<td>{{ matiere.groupe }}</td>
										</tr>
										<tr>
											<th>Code_matiere</th>
											<td>{{ matiere.codeMatiere }}</td>
										</tr>
										<tr>
											<th>Nom_matiere</th>
											<td>{{ matiere.nomMatiere }}</td>
										</tr>
										<tr>
											<th>Coefficient</th>
											<td>{{ matiere.coefficient }}</td>
										</tr>
										<tr>
											<th>Formateur</th>
											<td>{{ matiere.formateur }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{include ("include/footer.html.twig")}}

{% endblock %}


{# {% extends 'base.html.twig' %}

{% block title %}Matiere{% endblock %}

{% block body %}
    <h1>Matiere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Semestre</th>
                <td>{{ matiere.semestre }}</td>
            </tr>
            <tr>
                <th>Groupe</th>
                <td>{{ matiere.groupe }}</td>
            </tr>
            <tr>
                <th>Code_matiere</th>
                <td>{{ matiere.codeMatiere }}</td>
            </tr>
            <tr>
                <th>Nom_matiere</th>
                <td>{{ matiere.nomMatiere }}</td>
            </tr>
            <tr>
                <th>Coefficient</th>
                <td>{{ matiere.coefficient }}</td>
            </tr>
            <tr>
                <th>Formateur</th>
                <td>{{ matiere.formateur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('matiere_index') }}">back to list</a>

    <a href="{{ path('matiere_edit', {'id': matiere.id}) }}">edit</a>

    {{ include('matiere/_delete_form.html.twig') }}
{% endblock %} #}
