{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% set active = 'accueil'%}
{% block body %}
	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<!-- Header -->
		<div class="header bg-primary pb-6" style="background-image: url('assets/img/theme/fond.jpg');background-repeat: no-repeat;background-size: 100% 100%;background-attachment: fixed;">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">Tableau de board</li>
								</ol>
							</nav>
						</div>
					</div>
					<!-- Card stats -->
					<div class="row">
						<div class="col-xl-3 col-md-6">
							<div
								class="card card-stats">
								<!-- Card body -->
								<div class="card-body">
									<div class="row">
										<div class="col">
											<h5 class="card-title text-uppercase text-muted mb-0">Professeur</h5>
											{# <span class="h2 font-weight-bold mb-0">{{nbFormateur}}</span> #}
										</div>
										<div class="col-auto">
											<div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
												<i class="ni ni-circle-08"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div
								class="card card-stats">
								<!-- Card body -->
								<div class="card-body">
									<div class="row">
										<div class="col">
											<h5 class="card-title text-uppercase text-muted mb-0">Apprenants</h5>
											{# <span class="h2 font-weight-bold mb-0">{{nbApprenant}}</span> #}
										</div>
										<div class="col-auto">
											<div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
												<i class="ni ni-circle-08"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div
								class="card card-stats">
								<!-- Card body -->
								<div class="card-body">
									<div class="row">
										<div class="col">
											<h5 class="card-title text-uppercase text-muted mb-0">Matières</h5>
											{# <span class="h2 font-weight-bold mb-0">{{nbMatiere}}</span> #}
										</div>
										<div class="col-auto">
											<div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
												<i class="ni ni-book-bookmark"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div
								class="card card-stats">
								<!-- Card body -->
								<div class="card-body">
									<div class="row">
										<div class="col">
											<h5 class="card-title text-uppercase text-muted mb-0">Notes</h5>
											{# <span class="h2 font-weight-bold mb-0">{{nbNote}}</span> #}
										</div>
										<div class="col-auto">
											<div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
												<i class="ni ni-single-copy-04"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Page content -->
		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col-xl-12">
					<div class="card bg-default">
						<div class="card-header bg-transparent">
							<div class="row align-items-center">
								<div class="col">
									<h6 class="text-light text-uppercase ls-1 mb-1">Aperçu</h6>
									<h5 class="h3 text-white mb-0">Notes</h5>
								</div>
								<div class="col">
									<ul class="nav nav-pills justify-content-end">
										<li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
											<a href="#" class="nav-link py-2 px-3" data-toggle="tab">
												<span class="d-none d-md-block">Trimestre</span>
												<span class="d-md-none">T</span>
											</a>
										</li>
										<li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
											<a href="#" class="nav-link py-2 px-3" data-toggle="tab">
												<span class="d-none d-md-block">Semestre</span>
												<span class="d-md-none">S</span>
											</a>
										</li>
										<li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
											<a href="#" class="nav-link py-2 px-3" data-toggle="tab">
												<span class="d-none d-md-block">Annuelle</span>
												<span class="d-md-none">A</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div
							class="card-body">
							<!-- Chart -->
							<div
								class="chart">
								<!-- Chart wrapper -->
								<canvas id="chart-sales-dark" class="chart-canvas"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{include ("include/footer.html.twig")}}
		{% endblock %}
