{% extends 'base.html.twig' %}
{% block title %}Visualisation BTR
{% endblock %}

{% block body %}
<style>
body{
    font-size:12px;
}
table,th,td{
border:1px solid black;
border-collapse:collapse;
}
table{
    text-align:center;
    height : 500px;
    width:70%;
}
</style>
{#---------------------------------------------------FIN CSS---------------------------------------#}
<table>
    <thead>
        <tr>
            <th colspan="5" >
                Nom et Prenom Apprenant
            </th>
        </tr>
        <tr>
            <td rowspan="4">
                1ere Trimestre
            </td>
        </tr>
        <tr>
            <th>Matière</th>
            <th>Note</th>
            <th>Résultat</th>
            <th>Observation / Remarque</th>
        </tr>
        <tr>
            <td>Mathématique</td>
            <td>15/20</td>
            <td>Admis</td>
            <td>Bien</td>
        </tr>
        <tr>
            <td>Français</td>
            <td>17/20</td>
            <td>Admis</td>
            <td>Très-bien</td>
        </tr>
        <tr>
            <td rowspan="3">
                2eme Trimestre
            </td>
        </tr>
        <tr>
            <td>Mathématique</td>
            <td>15/20</td>
            <td>Admis</td>
            <td>Bien</td>
        </tr>
        <tr>
            <td>Français</td>
            <td>17/20</td>
            <td>Admis</td>
            <td>Très-bien</td>
        </tr>
        <tr>
            <td rowspan="5">
                3eme Trimestre
            </td>
        </tr>
        <tr>
            <td>ffff</td>
            <td>15/20</td>
            <td>Admis</td>
            <td>Bien</td>
        </tr>
        <tr>
            <td>gggg</td>
            <td>17/20</td>
            <td>Admis</td>
            <td>Très-bien</td>
        </tr>
        <tr>
            <td>ffff</td>
            <td>15/20</td>
            <td>Admis</td>
            <td>Bien</td>
        </tr>
        <tr>
            <td>gggg</td>
            <td>17/20</td>
            <td>Admis</td>
            <td>Très-bien</td>
        </tr>
    </thead>
</table>
{% endblock %}