{% extends 'base.html.twig' %}
{% block title %}evaluation
{% endblock %}

{% block body %}
    <style>
        body{
            font-size:12px;
        }
        table,th{
            border : 1px solid black;
        }
        th{
            border-collapse:collapse;
        }
        table{
            width:70%;
            height:100px;
            margin-left:15%;
        }
        .donnee{
            height:3%;
        }
        div{
            margin-top:5%;
            margin-left:35%;
        }
        input{
            margin-top:1%;
        }
    </style>

    {#------------------------FIN CSS----------------------------#}
    {% set nom = "" %}
    {% set prenom = "" %}
    {% set first = firstSem + 1 %}
    {% set second = secondSem + 1 %}
    {% set third = thirdSem + 1 %}
    {% for Evaluation in Evaluations %}
        {% set nom = Evaluation.nom %}
        {% set prenom = Evaluation.prenom %}
    {% endfor %}
    <table>
        <tr>
            <th colspan="5" >
                {{nom}} {{prenom}}
            </th>
        </tr>
        <tr>
            <th></th>
            <th>Matière</th>
            <th>Note</th>
            <th>Résultat</th>
            <th>Observation / Remarque</th>
        </tr>
        <tr>
            <td rowspan= "{{first}}" class="peri">
                1ere Trimestre
            </td>
        </tr>
        {% for Evaluation in Evaluations %}
            {% if Evaluation.periode == "1er trimestre" %}
                <tr>
                    <td class='donnee'>{{Evaluation.matiere}}</td>
                    <td class='donnee'>{{Evaluation.noteS}}</td>

                    {% set resultat = "" %}
                    {% if Evaluation.noteS > 9.99 %}
                        {% set resultat = "Admis" %}
                    {% else %}
                        {% set resultat = "Non Admis" %} 
                    {% endif %}

                    {% set observation = "" %}
                    {% if Evaluation.noteS > 16 %}
                        {% set observation = "Très bien" %}
                    {% endif %}
                    {% if Evaluation.noteS > 13 %}
                        {% if Evaluation.noteS < 17 %}
                            {% set observation = "Bien" %}
                        {% endif %}
                    {% endif %}
                    {% if Evaluation.noteS > 10 %}
                        {% if Evaluation.noteS < 14 %}
                            {% set observation = "Assez bien" %}
                        {% endif %}
                    {% endif %}
                    {% if Evaluation.noteS < 10 %}
                            {% set observation = "Passable" %}
                    {% endif %}

                    <td class='donnee'>{{resultat}}</td>
                    <td class='donnee'>{{observation}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td rowspan= "{{second}}"  class="peri">
                2em trimestre
            </td>
        </tr>
        {% for Evaluation in Evaluations %}
            {% if Evaluation.periode == "2em trimestre" %}
                <tr>
                    <td class='donnee'>{{Evaluation.matiere}}</td>
                    <td class='donnee'>{{Evaluation.noteS}}</td>

                    {% set resultat = "" %}
                    {% if Evaluation.noteS > 9.99 %}
                        {% set resultat = "Admis" %}
                    {% else %}
                        {% set resultat = "Non Admis" %} 
                    {% endif %}

                    {% set observation = "" %}
                    {% if Evaluation.noteS > 16 %}
                        {% set observation = "Très bien" %}
                    {% endif %}
                    {% if Evaluation.noteS > 13 %}
                        {% if Evaluation.noteS < 17 %}
                            {% set observation = "Bien" %}
                        {% endif %}
                    {% endif %}
                    {% if Evaluation.noteS > 10 %}
                        {% if Evaluation.noteS < 14 %}
                            {% set observation = "Assez bien" %}
                        {% endif %}
                    {% endif %}
                    {% if Evaluation.noteS < 10 %}
                            {% set observation = "Passable" %}
                    {% endif %}

                    <td class='donnee'>{{resultat}}</td>
                    <td class='donnee'>{{observation}}</td>
                </tr>
            {% endif %}
        {% endfor %}     
        <tr>
            <td rowspan= "{{third}}"  class="peri">
                3em trimestre
            </td>
        </tr>
        {% for Evaluation in Evaluations %}
            {% if Evaluation.periode == "3em trimestre" %}
                <tr>
                    <td class='donnee'>{{Evaluation.matiere}}</td>
                    <td class='donnee'>{{Evaluation.noteS}}</td>

                    {% set resultat = "" %}
                    {% if Evaluation.noteS > 9.99 %}
                        {% set resultat = "Admis" %}
                    {% else %}
                        {% set resultat = "Non Admis" %} 
                    {% endif %}

                    {% set observation = "" %}
                    {% if Evaluation.noteS > 16 %}
                        {% set observation = "Très bien" %}
                    {% endif %}
                    {% if Evaluation.noteS > 13 %}
                        {% if Evaluation.noteS < 17 %}
                            {% set observation = "Bien" %}
                        {% endif %}
                    {% endif %}
                    {% if Evaluation.noteS > 10 %}
                        {% if Evaluation.noteS < 14 %}
                            {% set observation = "Assez bien" %}
                        {% endif %}
                    {% endif %}
                    {% if Evaluation.noteS < 10 %}
                            {% set observation = "Passable" %}
                    {% endif %}

                    <td class='donnee'>{{resultat}}</td>
                    <td class='donnee'>{{observation}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <div>
        {% set Moyen = moyen %}
        <label><strong> Moyen :</strong> </label><input type="text" value="{{moyen | number_format(2,"."," ") }}">
    </div>
{% endblock %}
{# {% block javascripts %}
    {{parent()}}
    <script>
        var p;
        var donnee=
    </script>
{% endblock %} #}