{% extends 'base.html.twig' %}

{% block title %}Liste des evaluations
{% endblock %}

{% block body %}
	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<!-- Header -->
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-6 col-5 text-right">
							<a href="#" class="btn btn-sm btn-neutral" id="imprimer">Imprimer</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Page content -->
		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col">
					<div class="card">
						<!-- Card header -->
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-7">
									<h3 class="mb-0">Evaluations des apprenants
									</h3>
								</div>
							</div>
						</div>

						<div class="card-body">
							{# {{form_start(form)}} #}
							<div class="col-lg-4">
								<div class="form-group">
									<label class="form-control-label" for="input-username">Apprenant</label>
									<select class="form-control" id="choixApprenant">
										{% for inscription in inscriptions %}
											<option id="{{inscription.id}}" class="nom">{{inscription.nomApp}}</option>
										{% endfor %}
									</select>
									{# {{form_widget(form.nomApprenant,{'attr': {'class' : "form-control"}})}} #}
								</div>
							</div>
							{# {{form_end(form)}} #}
							<!-- Light table -->
							<div class="table-responsive">
								<table class="table align-items-center table-flush">
									<thead class="thead-light">
										<tr>
											<th colspan="5" style="text-align:center; background-color:#B0EEFA;">
												<span id="nom"></span> <span id="prenom"></span>
											</th>
										</tr>
										<tr>
											<th></th>
											<th><strong>Matière</strong></th>
											<th><strong>Note</strong></th>
											<th><strong>Résultat</strong></th>
											<th><strong>Observation / Remarque</strong></th>
										</tr>	
										<tbody id="body"></tbody>									
									</thead>
									
								</thead>
							</table>
						</div>
						<label class="form-control-label">Moyen :</label>
			            <input type="text" id="moyenne" class="form-control" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='test'></div>
		{{include ("include/footer.html.twig")}}
	{% endblock %}


	{% block javascripts %}
		{{parent()}}
		<script>
			$("#choixApprenant").change(function () {
				var idApprenant = $('#choixApprenant option:selected').attr('id');
				$.ajax({
					method: "POST",
					url: "{{ path('evaluation_index') }}",
					data: {
					id: idApprenant
					},
					dataType: "json",
					error: function (jqXHR, textStatus, errorThrown) {
					alert('error');
					},
					success: function (data) {
						console.log(data);
						var nom ="";
						var prenom = "";
						var Moy = "";
						/*const trim = `
							<tr>									
								<td>
									${data[0].periode}
								</td>	
							</tr>
							`;*/
						// var mats;
						var first = new Array();
						var second = new Array();
						var third = new Array();
						var m= new Array();

						let titleFirst ="";
						let titlesecond=`
							<tr>									
								<td>
									2em Trimestre
								</td>	
							</tr>
							`;
						let titlethird=`
							<tr>									
								<td>
									3em Trimestre
								</td>	
							</tr>
							`;
						data.apps.forEach(matiere => {
							if (matiere.periode == "1er trimestre") {
							first.push({"coefficient": matiere.coefficient, "matiere": matiere.matiere, "note": matiere.noteS, "nom": matiere.nom, "prenom": matiere.prenom});
							} else if (matiere.periode == "2em trimestre") {
							second.push({"coefficient": matiere.coefficient, "matiere": matiere.matiere, "note": matiere.noteS});
							} else {
							third.push({"coefficient": matiere.coefficient, "matiere": matiere.matiere, "note": matiere.noteS});
							}
								/*mats = `
										<tr>			
											<th>${matiere.matiere}</th>
											<th>${matiere.note}</th>
											<th>${matiere.coefficient}</th>
											<th>Observation / Remarque</th>
										</tr>
										`;
										});
										document.getElementById('body').innerHTML = trim + mats ;*/
								// document.getElementById('mats').innerHTML = mats;
						});

						var Moy = data.moy.toFixed(2);
						// for (let index = 0; index < m.length; index++) {
						// 	Moy = m[index].MOYEN;
						// }
						console.log(Moy);

						console.log(first);
						console.log(second);
						console.log(third);

						var bodyFirst ="";
						var bodySecond ="";
						var bodyThird ="";
						for (let index = 0; index < first.length; index++) {
							nom = first[index].nom;
							prenom = first[index].prenom;
							var note = first[index].note;
							var observation ="";
							if (note > 16) {
								observation = "Très bien";
							}else if (note > 13 & note < 17) {
								observation = "Bien";
							}else if (note > 10 & note < 13) {
									observation = "Assez bien";
							}else{
								observation = "Passable";
							} 

							var resultat = "";
							if (note > 9.99) {
								resultat = "Admis";
							}else{
								resultat = "Non Admis";
							}

							 bodyFirst +=`
										<tr>			
											<th>${first[index].matiere}</th>
											<th>${first[index].note}</th>
											<th>${resultat}</th>
											<th>${observation}</th>
										</tr>
										`;
						}
						titleFirst = `
							<tr>									
								<td rowspan=" ${(first.length+1)}">
									1er Trimestre
								</td>	
							</tr>
							` + bodyFirst;
					for (let index = 0; index < second.length; index++) {

						var note = second[index].note;
							var observation ="";
							if (note > 16) {
								observation = "Très bien";
							}else if (note > 13 & note < 16) {
								observation = "Bien";
							}else if (note > 10 & note < 13) {
									observation = "Assez bien";
							}else{
								observation = "Passable";
							} 

							var resultat = "";
							if (note > 9.99) {
								resultat = "Admis";
							}else{
								resultat = "Non Admis";
							}

							 bodySecond +=`
										<tr>			
											<th>${second[index].matiere}</th>
											<th>${second[index].note}</th>
											<th>${resultat}</th>
											<th>${observation}</th>
										</tr>
										`;
						}
						titleSecond = `
							<tr>									
								<td rowspan=" ${(second.length+1)}">
									2em Trimestre
								</td>	
							</tr>
							` + bodySecond;
							for (let index = 0; index < third.length; index++) {

								var note = third[index].note;
								var observation ="";
								if (note > 16) {
									observation = "Très bien";
								}else if (note > 13 & note < 16) {
									observation = "Bien";
								}else if (note > 10 & note < 13) {
										observation = "Assez bien";
								}else{
									observation = "Passable";
								} 

								var resultat = "";
								if (note > 9.99) {
									resultat = "Admis";
								}else{
									resultat = "Non Admis";
								}

								bodyThird +=`
											<tr>			
												<th>${third[index].matiere}</th>
												<th>${third[index].note}</th>
												<th>${resultat}</th>
												<th>${observation}</th>
											</tr>
											`;
						}
						titleThird = `
							<tr>									
								<td rowspan=" ${(third.length+1)}">
									3em Trimestre
								</td>	
							</tr>
							` + bodyThird;

							document.getElementById('nom').innerHTML = nom ;
							document.getElementById('prenom').innerHTML = prenom ;
							document.getElementById('body').innerHTML = titleFirst + titleSecond + titleThird ;	
							document.getElementById('moyenne').value = Moy ;
						
					}
					});
				});
				$("#imprimer").click(function() {
					var iD = $('#choixApprenant option:selected').attr('id');
					document.getElementById('imprimer').href= "/evaluation/Pdf/" +iD;
				});
				
			</script>

		{% endblock %}
