<form method="post" action="{{ path('note_delete', {'id': note.id}) }}" onsubmit="return confirm('Etes-vous sur de supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
