{% extends 'base.html.twig' %}

{% block title %}Détail du note
{% endblock %}

{% block body %}

	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-6 col-5 text-right">
							<a href="{{ path('note_new') }}" class="btn btn-sm btn-neutral">Ajout nouveau</a>
							<a href="{{ path('note_index') }}" class="btn btn-sm btn-neutral">Retour à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col-xl order-xl-1">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0">Détail de note
									</h3>
								</div>
								<div class="col-4 text-right">
									{{ include('note/_delete_form.html.twig') }}
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="pl-lg-4">
								<table class="table">
									<tbody>
										<tr>
											<th>Apprenant</th>
											<td>{{ note.nomApp }}</td>
										</tr>
										<tr>
											<th>Matiere</th>
											<td>{{ note.matiere }}</td>
										</tr>
										<tr>
											<th>Note_sc</th>
											<td>{{ note.noteSc }}</td>
										</tr>
										<tr>
											<th>Note_ac</th>
											<td>{{ note.noteAc }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{include ("include/footer.html.twig")}}

{% endblock %}
