{% extends 'base.html.twig' %}

{% block title %}Modification inscription
{% endblock %}

{% block body %}
	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-6 col-5 text-right">
							<a href="{{ path('inscription_index') }}" class="btn btn-sm btn-neutral">Aller à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid mt--6">
			<div class="col-xl-12 order-xl-1">
				<div class="card">
					{{ form_start(form) }}
					<div class="card-header">
						<div class="row align-items-center">
							<div class="col-8">
								<h3 class="mb-0">Modification inscription
								</h3>
							</div>
							<div class="col-4 text-right">
								<button class="btn btn-sm btn-primary">Modifier</button>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="pl-lg-4">
							<div class="row">
								<div class="col-lg-6">
									<h3 class="mb-0">Information parentale</h3>
                                    <hr class="my-4" /> 
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Nom du père</label>
                                                {{ form_widget(form.nom_pere) }}
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Prénom du père</label>
                                                {{ form_widget(form.prenom_pere) }}
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Nom de la mère</label>
                                                {{ form_widget(form.nom_mere) }}
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Prénom de la mère</label>
                                                {{ form_widget(form.prenom_mere) }}
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Fonction du père</label>
                                                {{ form_widget(form.fonction_pere) }}
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Fonction de la mère</label>
                                                {{ form_widget(form.fonction_mere) }}
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<h3 class="mb-0">Information apprenant</h3>
                                    <hr class="my-4" /> 
									<div class="row">
                                        <div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label">Immatricule</label>
                                                {{ form_widget(form.immatricule_app) }}
											</div>
										</div>
										<div class="col-lg-8">
											<div class="form-group">
												<label class="form-control-label">Nom de l'apprenant</label>
                                                {{ form_widget(form.nom_app) }}
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-lg-8">
											<div class="form-group">
												<label class="form-control-label">Prénom de l'apprenant</label>
                                                {{ form_widget(form.prenom_app) }}
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label">Date de naissance</label>
                                                {{ form_widget(form.date_naissance_app) }}
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label">Sexe</label>
                                                {{ form_widget(form.sexe_app) }}
											</div>
										</div>
										<div class="col-lg-8">
											<div class="form-group">
												<label class="form-control-label">Adresse</label>
                                                {{ form_widget(form.adresse_app) }}
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Email</label>
                                                {{ form_widget(form.email_app) }}
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Telephone</label>
                                                {{ form_widget(form.telephone_app) }}
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-lg-8">
											<div class="form-group">
												<label class="form-control-label">Etablissement</label>
                                                {{ form_widget(form.etablissement) }}
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label">Categorie</label>
                                                {{ form_widget(form.categorie) }}
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label">Année universitaire</label>
                                                {{ form_widget(form.annee_universitaire) }}
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label">Groupe</label>
                                                {{ form_widget(form.groupe) }}
											</div>
										</div>
                                        <div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label">Date d'inscription</label>
                                                {{ form_widget(form.date_inscription) }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
			{{include ("include/footer.html.twig")}}
		{% endblock %}
