{% extends 'base.html.twig' %}

{% block title %}Liste des apprenants inscrit{% endblock %}
{% set active = 'inscription'%}
{% block body %}

	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-6 col-5 text-right">
							<a href="{{ path('inscription_new') }}" class="btn btn-sm btn-neutral">Ajout nouveau</a>
							{# <a href="#" class="btn btn-sm btn-neutral">Filtre</a> #}
						</div>
					</div>
				</div>
				<div class="row align-items-center py-4">
					<div class="col-lg-9 col-8"></div>
					<div class="col-lg-3 col-4 text-right">
					{% for message in app.flashes('msg') %}
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<strong>{{message}}</strong>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-7">
									<h3 class="mb-0">Liste des apprenants inscrit
									</h3>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table id="datatable-search">
								<thead>
									<tr>
                                        <th scope="col"><strong>Immatricule</strong></th>
										<th scope="col"><strong>Nom</strong></th>
										<th scope="col"><strong>Prenom</strong></th>
                                        <th scope="col"><strong>Date de naissance</strong></th>
										<th scope="col"><strong>Sexe</strong></th>
                                        <th scope="col"><strong>Adresse</strong></th>
										<th scope="col"><strong>Email</strong></th>
										<th scope="col"><strong>Télephone</strong></th>
										<th scope="col"><strong>Groupe</strong></th>
										<th scope="col"><strong>Actions</strong></th>
									</tr>
								</thead>
								<tbody class="list">
									{% for inscription in inscriptions %}
										<tr>
                                            <td>{{inscription.immatriculeApp}}</td>
											<th scope="row">
												<div class="media align-items-center">
													<div class="media-body">
														<span class="name mb-0 text-sm">{{ inscription.nomApp }}</span>
													</div>
												</div>
											</th>
                                            <th scope="row">
												<div class="media align-items-center">
													<div class="media-body">
														<span class="name mb-0 text-sm">{{ inscription.prenomApp }}</span>
													</div>
												</div>
											</th>
											<td>{{inscription.dateNaissanceApp ? inscription.dateNaissanceApp|date('Y-m-d') : '' }}</td>
											<td>{{inscription.sexeApp}}</td>
											<td>{{inscription.adresseApp}}</td>
											<td>{{inscription.emailApp}}</td>
											<td>{{inscription.telephoneApp}}</td>
                                            <td>{{inscription.groupe}}</td>										
											<td>
												<div class="dropdown">
													<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="fas fa-ellipsis-v"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
														<a class="dropdown-item" href="{{ path('inscription_show', {'id': inscription.id}) }}">Détail</a>
														<a class="dropdown-item" href="{{ path('inscription_edit', {'id': inscription.id}) }}">Modifier</a>
													</div>
												</div>
											</td>
										</tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="10">Aucun enregistrement</td>
                                        </tr>
									{% endfor %}
								</tbody>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer py-4">
					<nav aria-label="...">
						<ul class="pagination justify-content-end mb-0">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1">
									<i class="fas fa-angle-left"></i>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item active">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">2
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">3</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">
									<i class="fas fa-angle-right"></i>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	{{include ("include/footer.html.twig")}}

{% endblock %}
