{% extends 'base.html.twig' %}

{% block title %}Détail des inscriptions
{% endblock %}

{% block body %}

	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-6 col-5 text-right">
							<a href="{{ path('inscription_new') }}" class="btn btn-sm btn-neutral">Ajout nouveau</a>
							<a href="{{ path('inscription_index') }}" class="btn btn-sm btn-neutral">Retour à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col-xl-6 order-xl-1">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0">Détail de l'inscription
									</h3>
								</div>
                                <div class="col-4 text-right">
                                    {{ include('inscription/_delete_form.html.twig') }}
                                </div>
							</div>
						</div>
						<div class="card-body">
							<div class="pl-lg-4">
								<table class="table">
									<tbody>
										<tr>
											<th>Immatricule</th>
											<td>{{ inscription.immatriculeApp }}</td>
										</tr>
										<tr>
											<th>Nom</th>
											<td>{{ inscription.nomApp }}</td>
										</tr>
										<tr>
											<th>Prenom</th>
											<td>{{ inscription.prenomApp }}</td>
										</tr>
										<tr>
											<th>Date_naissance</th>
											<td>{{ inscription.dateNaissanceApp ? inscription.dateNaissanceApp|date('Y-m-d') : '' }}</td>
										</tr>
										<tr>
											<th>Sexe</th>
											<td>{{ inscription.sexeApp }}</td>
										</tr>
										<tr>
											<th>Adresse</th>
											<td>{{ inscription.adresseApp }}</td>
										</tr>
										<tr>
											<th>Email</th>
											<td>{{ inscription.emailApp }}</td>
										</tr>
										<tr>
											<th>Telephone</th>
											<td>{{ inscription.telephoneApp }}</td>
										</tr>
										<tr>
											<th>Etablissement</th>
											<td>{{ inscription.etablissement }}</td>
										</tr>
										<tr>
											<th>Categorie</th>
											<td>{{ inscription.categorie }}</td>
										</tr>
										<tr>
											<th>Annee_universitaire</th>
											<td>{{ inscription.anneeUniversitaire }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-6 order-xl-1">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0">Information parentale
									</h3>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="pl-lg-4">
								<table class="table">
									<tbody>
										<tr>
											<th>Nom du pere</th>
											<td>{{ inscription.nomPere }}</td>
										</tr>
										<tr>
											<th>Prenom du pere</th>
											<td>{{ inscription.prenomPere }}</td>
										</tr>
										<tr>
											<th>Fonction
											</th>
											<td>{{ inscription.fonctionPere }}</td>
										</tr>
										<tr>
											<th>Nom de la mère</th>
											<td>{{ inscription.nomMere }}</td>
										</tr>
										<tr>
											<th>Prenom de la mère</th>
											<td>{{ inscription.prenomMere }}</td>
										</tr>
										<tr>
											<th>Fonction</th>
											<td>{{ inscription.fonctionMere }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{include ("include/footer.html.twig")}}
    
{% endblock %}
