<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
			<link rel="icon" href="{{ asset('assets/img/brand/favicon.png') }}" type="image/png">
			<link rel="stylesheet" href="{{ asset('assets/vendor/nucleo/css/nucleo.css') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('assets/vendor/@fortawesome/fontawesome-free/css/all.min.css') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('assets/css/argon.css?v=1.2.0') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('assets/css/datatable.min.css') }}" type="text/css">
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
	{% block javascripts %}
		<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('assets/vendor/js-cookie/js.cookie.js') }}"></script>
		<script src="{{ asset('assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js') }}"></script>
		<script src="{{ asset('assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js') }}"></script>
		<script src="{{ asset('assets/vendor/chart.js/dist/Chart.min.js') }}"></script>
		<script src="{{ asset('assets/vendor/chart.js/dist/Chart.extension.js') }}"></script>
		<script src="{{ asset('assets/js/argon.js?v=1.2.0') }}"></script>
		<script src="{{ asset('assets/js/datatable.js') }}"></script>
		<script>     
            const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
				searchable: true,
				fixedHeight: true			
            });
		</script>
	{% endblock %}
</html>
