<form method="post" action="{{ path('assiduite_delete', {'id': assiduite.id}) }}" onsubmit="return confirm('Etes-vous sur de supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ assiduite.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
