{% extends 'base.html.twig' %}

{% block title %}Détail du assiduite
{% endblock %}

{% block body %}

	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-6 col-5 text-right">
							<a href="{{ path('assiduite_new') }}" class="btn btn-sm btn-neutral">Ajout nouveau</a>
							<a href="{{ path('assiduite_index') }}" class="btn btn-sm btn-neutral">Retour à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col-xl order-xl-1">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0">Détail de assiduite
									</h3>
								</div>
								<div class="col-4 text-right">
									{{ include('assiduite/_delete_form.html.twig') }}
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="pl-lg-4">
								<table class="table">
									<tbody>
										<tr>
											<th>Date</th>
											<td>{{ assiduite.date ? assiduite.date|date('Y-m-d') : ''  }}</td>
										</tr>
										<tr>
											<th>Heure du cours</th>
											<td>{{ assiduite.heureCours }}</td>
										</tr>
										<tr>
											<th>Matiere</th>
											<td>{{ assiduite.matiere }}</td>
										</tr>
										<tr>
											<th>Apprenant</th>
											<td>{{ assiduite.apprenant }}</td>
										</tr>
										<tr>
											<th>Presence</th>
											<td>
												<span class="badge badge-dot mr-4">
													<i class="bg-success"></i>
													<span class="status">{{ assiduite.presence }}</span>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{include ("include/footer.html.twig")}}

{% endblock %}
