{% extends 'base.html.twig' %}

{% block title %}Modification Formateur
{% endblock %}

{% block body %}
	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-6 col-5 text-right">
							<a href="{{ path('formateur_index') }}" class="btn btn-sm btn-neutral">Aller à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid mt--6">
			<div class="col-xl-12 order-xl-1">
				<div class="card">
					{{ form_start(form) }}
					<div class="card-header">
						<div class="row align-items-center">
							<div class="col-8">
								<h3 class="mb-0">Modification formateur
								</h3>
							</div>
							<div class="col-4 text-right">
								<button class="btn btn-sm btn-primary">Modifier</button>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="pl-lg-4">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label">Nom</label>
										{{ form_widget(form.nom) }}
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label">Prénom</label>
										{{ form_widget(form.prenom) }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<div class="form-group">
										<label class="form-control-label">Sexe</label>
										{{ form_widget(form.sexe) }}
									</div>
								</div>
								<div class="col-lg-8">
									<div class="form-group">
										<label class="form-control-label">Adresse</label>
										{{ form_widget(form.adresse) }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label">Telephone</label>
										{{ form_widget(form.telephone) }}
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label">Email</label>
										{{ form_widget(form.email) }}
									</div>
								</div>
							</div>
                            <div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label">Fonction</label>
										{{ form_widget(form.fonction) }}
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label">Status</label>
										{{ form_widget(form.status) }}
									</div>
								</div>
							</div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Photo</label>
                                    {{ form_widget(form.photo) }}
                                </div>
                            </div>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
			{{include ("include/footer.html.twig")}}
		{% endblock %}
