{% extends 'base.html.twig' %}

{% block title %}Détail formateur
{% endblock %}

{% block body %}

	{{include ("include/menu.html.twig")}}
	<div class="main-content" id="panel">
		{{include ("include/navbar.html.twig")}}
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item">
										<a href="#">
											<i class="fas fa-home"></i>
										</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Gestion des apprenants</a>
									</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-6 col-5 text-right">
							<a href="{{ path('formateur_new') }}" class="btn btn-sm btn-neutral">Ajout nouveau</a>
							<a href="{{ path('formateur_index') }}" class="btn btn-sm btn-neutral">Retour à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col-xl-8 order-xl-1">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0">Détail formateur
									</h3>
								</div>
								<div class="col-4 text-right">{{ include('formateur/_delete_form.html.twig') }}
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="pl-lg-4">
								<table class="table">
									<tbody>
										<tr>
											<th>Nom</th>
											<td>{{ formateur.nom }}</td>
										</tr>
										<tr>
											<th>Prenom</th>
											<td>{{ formateur.prenom }}</td>
										</tr>
										<tr>
											<th>Sexe</th>
											<td>{{ formateur.sexe }}</td>
										</tr>
										<tr>
											<th>Adresse</th>
											<td>{{ formateur.adresse }}</td>
										</tr>
										<tr>
											<th>Telephone</th>
											<td>{{ formateur.telephone }}</td>
										</tr>
										<tr>
											<th>Email</th>
											<td>{{ formateur.email }}</td>
										</tr>
										<tr>
											<th>Fonction</th>
											<td>{{ formateur.fonction }}</td>
										</tr>
										<tr>
											<th>Photo</th>
											<td>{{ formateur.photo }}</td>
										</tr>
										<tr>
											<th>Status</th>
											<td>{{ formateur.status }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 order-xl-2">
					<div class="card card-profile">
						<img src="{{ asset('assets/img/theme/images.png') }}" alt="Image placeholder" class="card-img-top">
						<div class="row justify-content-center">
							<div class="col-lg-3 order-lg-2">
								<div class="card-profile-image">
									<a href="#">
										<img src="{{asset('uploads/images/' ~ formateur.photo)}}" class="rounded-circle">
									</a>
								</div>
							</div>
						</div>
						<div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
							<div class="d-flex justify-content-between">
								<a href="#" class=""></a>
								<a href="#" class=""></a>
							</div>
						</div>
						<div class="card-body pt-0">
							<div class="row">
								<div class="col">
									<div class="card-profile-stats d-flex justify-content-center">
										<div>
											<span class="heading">{{ formateur.telephone }}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body pt-0">
								<div class="text-center">
									<h5 class="h3">
										{{ formateur.nom }}{{ formateur.prenom }}
									</h5>
									<div>
										<i class="ni education_hat mr-2"></i>
										{{ formateur.fonction }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{include ("include/footer.html.twig")}}

	{% endblock %}
